# Ignore node_modules folder
node_modules

# Ignore package-lock.json
package-lock.json

# Ignore .env
.env

# Ignoere Documentation
apiDeathDoc.json
apiDoc2022021621.json
apiDoc2022052021.json
apiDocNakes.json
apiDocKlaim1.json
apiDocRSOnline1.json
apiDocRSOnlineRS.json